{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/theme.css' %}?{% now 'U' %}">
{% endblock %}
{% block content %}

    {% if user.is_superuser %}
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          admin
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'main:delete_theme' theme.pk %}">delete_theme</a></li>
          <li><a class="dropdown-item" href="{% url 'main:update_theme' theme.pk %}">edit_theme</a></li>
          <li><a class="dropdown-item" href="{% url 'main:add_post2' theme.theme_slug %}">add_post</a></li>

        </ul>
      </div>
    {% endif %}
    <div class="container mt-3 ">
      {% if posts %}

          {% for p in posts %}
            <div class="card text-white bg-dark mb-3"  >
              <img src="{{p.image_medium.url}}" class="card-img-top" alt="image here"  >
              <div class="card-body">
                <h5 class="card-title">{{p.name}} <span class="badge rounded-pill bg-primary">views:{{p.post_views}}</span></h5>
                <a href="{% url 'main:post' theme.theme_slug  p.post_slug   %}" class="btn btn-dark">view</a>
                {% if user.is_superuser %}
                  <a href="{% url 'main:delete_post' p.pk  %}" class="btn btn-dark">delete</a>
                  <a href="{% url 'main:update_post' p.pk  %}" class="btn btn-dark">edit</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          no posts found

      {% endif %}
    </div>

{% endblock %}
